<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li class="emph">Brian A. Miller</li>
<li><a href="/">Home</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/reading">Reading</a></li>
<li><a href="/posts">Posts</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:millerba42@gmail.com">email</a></li>
   <li><a href="https://twitter.com/bmill42">twitter:@bmill42</a></li>
   </ul>
  </footer>
  </body>

</html>
